themes {
    solarized-dark {
        fg "#fdf6e3"
        bg "#011c2e"
        black "#073642"
        red "#dc322f"
        green "#859900"
        yellow "#b58800"
        blue "#268ad2"
        magenta "#d33682"
        cyan "#2aa197"
        white "#eee8d5"
        orange "#cb4c16"
    }
}
